* {
background:                     #141c21ff;
background-alt:                 #1C252Aff;
foreground:                     #ffffffcc;
border:                         #88a67dff;
border-alt:                     #628956;
selected:                       #1C252Aff;
urgent:                         #1C252AFF;
}
